<footer class="site-footer">

  <div class="wrapper">
    <p class="contact-links">
      <a href="{{ "/feed.xml" | relative_url }}"><img src="/assets/img/logo/rss.svg" alt="RSS" title="RSS" class="contact-link" /></a>
      <a href="mailto:{{ site.author.email }}"><img src="/assets/img/logo/email.svg" alt="email" title="e-mail" class="contact-link" /></a>
      <a href="https://github.com/{{ site.github.username }}"><img src="/assets/img/logo/github.svg" alt="github.com" title="Github" class="contact-link" /></a>
      <a href="https://twitter.com/{{ site.twitter.username }}"><img src="/assets/img/logo/twitter.svg" alt="twitter.com" title="Twitter" class="contact-link" /></a>
      <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}"><img src="/assets/img/logo/linkedin.svg" alt="linkedin.com" title="LinkedIn" class="contact-link" /></a>
      <a href="https://www.facebook.com/{{ site.facebook.username }}"><img src="/assets/img/logo/facebook.svg" alt="facebook.com" title="Facebook" class="contact-link" /></a>
      <a href="https://www.snapchat.com/add/{{ site.snapchat.username }}"><img src="/assets/img/logo/snapchat.svg" alt="snapchat.com" title="Snapchat" class="contact-link" /></a>
    </p>

    <p>© {{ site.year }} {{ site.author.name }}</p>
  </div>

</footer>
