<footer class="site-footer">

  <div class="wrapper">
    <p class="social-links">
      <a href="{{ "/feed.xml" | relative_url }}"><img src="/assets/img/logo/rss.svg" alt="RSS" title="RSS" class="social-link-first" /></a>
      <a href="mailto:albinek@albinek.com"><img src="/assets/img/logo/email.svg" alt="email" title="e-mail" class="social-link" /></a>
      <a href="https://github.com/albinekcom"><img src="/assets/img/logo/github.svg" alt="github.com" title="Github" class="social-link" /></a>
      <a href="https://twitter.com/albinekcom"><img src="/assets/img/logo/twitter.svg" alt="twitter.com" title="Twitter" class="social-link" /></a>
      <a href="https://www.linkedin.com/in/albinekcom"><img src="/assets/img/logo/linkedin.svg" alt="linkedin.com" title="LinkedIn" class="social-link" /></a>
      <a href="https://www.facebook.com/albinekcom"><img src="/assets/img/logo/facebook.svg" alt="facebook.com" title="Facebook" class="social-link" /></a>
      <a href="https://www.snapchat.com/add/albinekcom"><img src="/assets/img/logo/snapchat.svg" alt="snapchat.com" title="Snapchat" class="social-link-last" /></a>
    </p>

    <p>© {{ site.year }} {{ site.author.name }}</p>
  </div>

</footer>
