@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// Colors

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #bf2529 !default;
$about-color:      #F3F3F3 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$navigation-bottom-left-background-color: #000000 !default;
$navigation-top-right-background-color: #4D4D4D !default;

$social-icon-circle-color: #cccccc !default;

// Dark Mode

$text-color-for-dark-mode:       #cccccc !default;
$background-color-for-dark-mode: rgb(28, 28, 28) !default;
$brand-color-for-dark-mode:      #bf2529 !default;
$navigation-background-color-for-dark-mode: rgb(22, 22, 22) !default;
$about-color:                    #F3F3F3 !default;
$about-color-for-dark-mode:       $text-color-for-dark-mode !default;
$border-color-for-dark-mode:     darken($text-color-for-dark-mode, 30%) !default;
$social-icon-circle-color-for-dark-mode: darken($text-color-for-dark-mode, 15%) !default
$emphasized-text-border-color-for-dark-mode: darken($text-color-for-dark-mode, 15%) !default

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;


$table-text-align: left !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

// Improvements for syntax-highlighting in Dark Mode
@media (prefers-color-scheme: dark) {
  .highlight { background: $background-color-for-dark-mode; }
  .highlight .nt { color: #3f4ff9; }
}
