/**
 * Site header
 */
 .site-header {
  border-bottom: 1px solid $grey-color-dark;
  background: $header-background-color;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: $spacing-unit * 0.5 0 $spacing-unit * 0.5 0;
}

.header-dummy {
  visibility: hidden;
}

.header-logo {
  height: 29px;
  width: 57px;
}

.header-about {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $grey-color-light;
  font-size: $small-font-size;

  &:visited {
    color: $grey-color-light;
  }

  &:hover {
    color: $brand-color;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color;
}

.footer-contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: $spacing-unit * 0.5;
  padding-bottom: 8px;
}

.footer-contact-item {
  display: flex;
  margin: 8px;
  padding: 4px;
}

.footer-legal {
  text-align: center;
  color: $grey-color-dark;
  margin-bottom: $spacing-unit * 0.5;
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  text-decoration: none;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.about-links {
  li {
    padding-bottom: 8px;
  }
}

.footer-contact-item {

  .contact-icon-background {
    fill: $grey-color;
  }

  .contact-icon-glyph {
    fill: $background-color;
  }

  &:hover {
    .contact-icon-glyph {
      fill: #FFF;
    }

    #icon-email {
      .contact-icon-background {
        fill: #D34D43;
      }
    }

    #icon-github {
      .contact-icon-background {
        fill: #383838;
      }
    }

    #icon-linkedin {
      .contact-icon-background {
        fill: #0077B5;
      }
    }

    #icon-twitter_ {
      .contact-icon-background {
        fill: #00ACED;
      }
    }

    #icon-facebook_ {
      .contact-icon-background {
        fill: #3B5998;
      }
      .contact-icon-glyph {
        fill: #FFF;
      }
    }

    #icon-instagram_ {
      .contact-icon-background {
        fill: #D92583;
      }
    }
  }

}



/**
* Dark Mode
*/

@media (prefers-color-scheme: dark) {
  body {
    color: $text-color-for-dark-mode;
    background-color: $background-color-for-dark-mode;
  }

  html {
    background-color: $background-color-for-dark-mode;
  }

  table {
    color: $text-color-for-dark-mode;

    th {
      background-color: darken($background-color-for-dark-mode, 5%);
      border-color: lighten($background-color-for-dark-mode, 25%);
    }

    tr {
      &:nth-child(even) {
        background-color: lighten($background-color-for-dark-mode, 5%);
      }
    }

    td {
      border-color: lighten($background-color-for-dark-mode, 25%);
    }

  }

  a, a:visited {
    color: $text-color-for-dark-mode;
    text-decoration: underline;
  }

  a:hover {
    color: $brand-color;
  }

  .footer-contact-item {

    .contact-icon-background {
      fill: $grey-color-for-dark-mode;
    }

    .contact-icon-glyph {
      fill: $background-color-for-dark-mode;
    }

  }

  .footer-legal {
    color: $grey-color-for-dark-mode;
  }

  .site-footer {
    border-top: 1px solid $grey-color-for-dark-mode;
  }

  .site-header {
    border-bottom: 1px solid $grey-color-for-dark-mode;
  }

}
